.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: 10px;
}

.card-header {
  height: 10%;
  background-color: rgb(11, 16, 21);
  color: white;
  padding: 5px;
}
.card-header > b {
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  width: 50px;
  height: 100%;
}

.card-body {
  height: 80%;
  overflow: hidden;
}
.records-banner {
  position: fixed;
  height: 2rem;
  background-color: rgb(54, 50, 50);
  width: 100%;
  color: aliceblue;
  z-index: 1;
}
.card-container {
  position: relative;
  top: 2rem;
}

.card-section {
  height: calc(100% - 20px);
  overflow-y: scroll;
}
.loader{
  height: 20px;
}